body{
    background-color: #DBE2EF ;
    overflow-x: hidden;
}
.container{
    width: 1150px;
    margin: auto;
    /* top right bottom left */
    padding: 0px 10px 50px 10px ;
    background-color:#F4EEFF;
}
#logo-con{
    float: left;
    width: 150px;
    margin-top: 10px;
    height: 120px;
    padding: 10px 10px 10px 70px;
    display: flex;
    justify-content: center;   
     
}
.img-logo {
    width: 150px;
    height: auto;
}
#box-search{
    margin: 60px 20px 20px 450px;
}
#login{
    margin: 67px 20px 20px 20px;
    font-size: 25px;

}
#regis{
    margin: 67px 20px 20px 20px;
    font-family: 'Asap', sans-serif;
}
#menu{
    padding-top: 60px;
    padding-bottom: 60px;
    float: right;
    width: 960px;
}
.clear{
    clear: both;
}
#box-menu{
    display : flex;
    justify-content: space-between;
    align-items: center;
    width : 1000px;
    margin-left: 60px;
    margin-top: 15px;
    font-family: 'Asap', sans-serif;
}
#box-menu *{
    width:150px;
    display : flex;
    text-decoration: none;
    color: black;
} 
.head-up{
    display: flex;
}
.head-bot{
    display: flex;
}
.clear{
    clear: both;
}
.sidebar{
    width: 350px;
    float: left;
    margin-top:50px;
}
.content{
    width: 800px;
    margin-top: 50px;
    float: right;
}
.blog-single{
    float: left;
    max-width: 720px;
    margin:0px 10px 20px 50px;
    font-family: 'Asap', sans-serif;
}
.text-blog{
    font-family: 'Overpass', sans-serif;
}
.blog-single img{
    width:300px ;
    height: 450px;
    object-fit: cover;
}
.recent-books{
    padding-left: 10px;
    padding-right: 10px;
    width: 250px;
    margin-left: 70px;
}
.recent-books ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
